
body {
  padding: 0;
}

/* absolution positing elements - the info */
.back-btn{
  position: absolute;
  top: 2em;
  left: 3em;
  cursor: pointer;
}
.back-btn:hover{
  color: purple;
}
.center-top-label{
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  text-align: center;
}
.bottom-right-label{
  position: absolute;
  bottom: 2em;
  right: 3em;
}
.bottom-left-label{
  position: absolute;
  bottom: 2em;
  left: 3em;
}

/* sections */
section{
  text-align: center;
}
section{
  margin-top: 9em;
}
.options{}
.option{
  display: inline-block;
  padding: 1em;
}

.circle-container{
  background-color: #F5F5F5;
  border-radius: 100%;
  height: 10em;
  width: 10em;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

/* style headers */
h1{
  font-size: 34px;
  font-family: Montserrat Alternates;
  color: #212121;
}
h2{
  font-size: 20px;
  font-weight: lighter;
  color: #404040;

}
div{
  font-family: Roboto Mono;
}
button, a{
  font-family: Mitr;
}
button{
  padding: 10px 27px;
  box-shadow: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
figure{
  cursor: pointer;
  position: relative;
}
figure:hover .circle-container{
  background-color: #e6e6e6;
}
figure:hover img{
  width: 45%;
}
figure figcaption{
  font-size: 16px;
  margin-top: 13px;
  font-family: Roboto Mono;
  color: #404040;

}
figure img{
  width: 44%;
  margin-top: 44px;
  transition: width 0.2s ease;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
