
<div class="back-btn" ng-show="start" ng-click="restart()">Restart</div>
<div class="center-top-label" ng-show="start">Should I Go To College For CS?</div>

<div class="top-right-label">
  <a href="https://www.facebook.com/sharer/sharer.php?u=shouldigotocollegeforcs.com" target="_blank" class="fb-share">Share</a>
  <a class="twitter-share-button t-share" href="https://twitter.com/home?status=Thinking%20about%20college%20and%20computer%20science?%20Find%20out%20your%20best%20options%20%E2%80%93%20http%3A//shouldigotocollegeforcs.com" target="_blank">Tweet</a>
</div>

<section ng-hide="start" id="start">
  <img src="icons/school.svg"/>
  <h1>Should I Go To College For CS?</h1>
  <h2>Computer Science(CS) has many different topics. In today's world a 4-year college might not be necessary to pursue your dreams. Use this tool to find what is best for you.</h2>
  <button ng-click="start = true">Start</button>
</section>

<section ng-repeat="question in questions track by $index" ng-if="start" ng-show="question.showing">
  <h1>{{question.question}}</h1>
  <h2>{{question.description}}</h2>

  <div class="options">
    <div class="option" ng-repeat="option in question.options">
      <figure ng-click="submitAnswer(option.answer)">
        <div class="circle-container">
          <img ng-src="icons/{{option.img}}" alt="{{option.alt}}">
        </div>
        <figcaption>{{option.caption}}</figcaption>
      </figure>
    </div>
  </div>
  
  <div class="bottom-right-label">{{$index}}/{{questions.length}}</div>
</section>

<section ng-if="highestAnswerLetter !== null" class="answer">
<!-- <section ng-if="true" class="answer"> -->
  <img ng-src="icons/{{highestAnswerLetter.img}}"/>
  <h1>{{highestAnswerLetter.title}}</h1>
  <h2>{{highestAnswerLetter.description}}</h2>
</section>

<section ng-if="highestAnswerLetter.title === 'Dev School'" class="choices">
  <div>
    <figure>
      <img ng-src="icons/freecodecamp.png" alt="freecodecamp" class="circle-logo">
      <figcaption>
        <h3><a href="https://www.freecodecamp.com/" target="_blank">Freecodecamp</a></h3>
        <p>"Learn to code and build projects for nonprofits. Build your full stack web development portfolio today."</p>
        <a href="https://www.freecodecamp.com/" target="_blank">learn more</a>
      </figcaption>
    </figure>

    <figure>
      <img ng-src="icons/devbootcamp.png" alt="devbootcamp" class="normal-logo">
      <figcaption>
        <h3><a href="https://www.devbootcamp.com/" target="_blank">Dev Bootcamp</a></h3>
        <p>"Become a web developer at Dev Bootcamp, the first short-term, immersive bootcamp that transforms beginners into full-stack web developers."</p>
        <a href="http://devbootcamp.com/" target="_blank">learn more</a>
      </figcaption>
    </figure>

    <figure>
      <img ng-src="icons/treehouse.png" alt="treehouse" class="normal-logo">
      <figcaption>
        <h3><a href="https://teamtreehouse.com/" target="_blank">Treehouse</a></h3>
        <p>"Treehouse has a library of lessons that goes far beyond the surface, touching nearly every aspect of how to design and develop for the web and iOS."</p>
        <a href="https://teamtreehouse.com/" target="_blank">learn more</a>
      </figcaption>
    </figure>

    <figure>
      <img ng-src="icons/ironyard.png" alt="ironyard" class="normal-logo">
      <figcaption>
        <h3><a href="https://www.theironyard.com/" target="_blank">Ironyard</a></h3>
        <p>"The Iron Yard is an intensive 3 month code school dedicated to providing exceptional growth and mentorship for our students."</p>
        <a href="https://www.theironyard.com/" target="_blank">learn more</a>
      </figcaption>
    </figure>

    <figure>
      <img ng-src="icons/makersquare.png" alt="makersquare" class="normal-logo">
      <figcaption>
        <h3><a href="https://www.makersquare.com/" target="_blank">Makersquare</a></h3>
        <p>"MakerSquare isn't your typical coding bootcamp. Our grads work as Software Engineers at companies like NASA, Facebook & Google in Austin, Los Angeles, San Francisco and New York City."</p>
        <a href="https://www.makersquare.com/" target="_blank">learn more</a>
      </figcaption>
    </figure>
  </div>
</section>


<div class="bottom-left-label">
  <p><a href="mailto:chrismhume@gmail.com?Subject=Hello" id="contact">holler</a></p>
  <p class="credit">inspired by <a href="http://www.crew.co" target="_blank">crew</a> icons by <a href="http://www.flaticon.com" target="_blank">flat icon</a></p>
  </div>
