
<div class="back-btn">Back</div>
<div class="center-top-label">Should I Go To College For CS?</div>

<section ng-repeat="question in questions">
  <h1>{{question.question}}</h1>
  <h2>{{question.description}}</h2>

  <div class="options">
    <div class="option" ng-repeat="option in question.options">
      <figure ng-click="">
        <div class="circle-container">
          <img ng-src="icons/{{option.img}}" alt="{{option.alt}}">
        </div>
        <figcaption>{{option.caption}}</figcaption>
      </figure>
    </div>
  </div>
</section>

<div class="bottom-right-label">3/{{question.length}}</div>
<div class="bottom-left-label">about / contact</div>
